html, body, {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
}

body {
	margin: 0;
}

.container-fluid {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;

	.map {
		height: 100%;
		margin: 0px;
		padding: 0px;
	}

	.parkings-info {
		position: absolute;
		right: 0;

		h2 {
			display: none;

			@media(min-width: 970px) {
				display: inherit;
			}
		}
	}
}

.list-group {
	margin-top: 40px;
}
#map-canvas {
	width: 100%;
	height: 100%;
}
.mobile-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0;

	@media(min-width: 768px) {
		position: inherit;
		padding: 15px;
	}

	.details {
		margin: 0;
		box-shadow: 0 -1px 10px rgba(0, 0, 0, .55);
		border: none;
		border-radius: 0;

		@media(min-width: 768px) {
			margin-bottom: 20px;
			box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
			border: 1px solid transparent;
			border-radius: 4px;
		}

		.parking-info {
			margin: 0;
			padding: 5px;

			.parking-location{
				padding: 0 5px 0 0;	
			}

			.parking-controls {
				padding: 0;
			}
		}
	}
}



@gray: #333;
@gray-light: #aaa;
@gray-lighter: #eee;
@space: 40px;
@blue: #428bca;
@blue-dark: darken(@blue, 5%);

// Mixin for transition/transform
.translate(@x; @y) {
	-webkit-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y); // IE9+
	transform: translate(@x, @y);
}
.transition(@transition) {
	-webkit-transition: @transition;
	transition: @transition;
}
.transition-transform(@transition) {
	-webkit-transition: -webkit-transform @transition;
	-moz-transition: -moz-transform @transition;
	-o-transition: -o-transform @transition;
	transition: transform @transition;
}
// Modal Dialog
// ----------------------

.pk-modal{

	// This is modal bg
	&:before{
		content: ""; 
		display: none;
		background: rgba(0,0,0,.6);
		position: fixed;
		top: 0; left: 0; right: 0; bottom: 0; 
		z-index: 10;
	}


	// Active animate in modal
	&:before{
		display: block;
	}  
	.pk-modal-dialog{
		.translate(0, 0); 
		top: 20%;  
	}


}

.pk-modal-dialog{
	background: #fefefe;
	border: @gray solid 1px;
	border-radius: 5px;
	position: fixed; 
	left: 50%; 
	top: -100%;  
	z-index: 11; 
	margin-left: -180px;
	width: 360px;
	.translate(0, -500%);
	.transition-transform(~"0.3s ease-out");
	@media(min-width: 768px) {
		@width: 668px;
		width: @width;
		margin-left: -@width/2;
	}
	@media(min-width: 970px) {
		@width: 870px;
		width: @width;
		margin-left: -@width/2;
	}
}

.pk-modal-body{
	padding: @space/2;
}

.pk-modal-header,.pk-modal-footer{
	padding: @space/4 @space/2;
}

.pk-modal-header{
	border-bottom: @gray-lighter solid 1px;

	h2{
		font-size: 20px;
	}

}

.pk-modal-footer{
	border-top: @gray-lighter solid 1px;
	text-align: right;
}

#close {
	display: none;
}
